body,
html {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
}

body {
  background: url(./assets/images/704510-background-blemishes-dark-backgrounds-abstract.jpg) no-repeat center center fixed;
  background-size: cover;
}

main {
  position: relative;
  opacity: 0;
  filter: blur(10px);
  transition: opacity 2s ease-in-out, filter 2s ease-in-out;
}

header {
  margin-top: 1em;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header > img {
  width: 8em;
  height: 8em;
  border-radius: 100%;
  border: 1px solid #fff;
  box-shadow: rgb(28, 32, 93 / 24%) 0px 2px 8px 0px;
}

header > h1 {
  display: inline-block;
  font-size: 1.0em;
  font-weight: bold;
  border-radius: 1em;
  background-color: #000a;
  padding: 0.3em 0.6em;
  border: 1px solid #fffa;
  backdrop-filter: blur(10px) saturate(160%) contrast(180%);
  -webkit-backdrop-filter: blur(10px) saturate(160%) contrast(180%);
}

ul {
  box-sizing: border-box;
  list-style: none;
  max-width: 480px;
  margin: 0 auto;
  padding: 2em;
}

ul > li {
  background-color: #fffa;
  backdrop-filter: blur(10px) saturate(160%) contrast(180%);
  -webkit-backdrop-filter: blur(10px) saturate(160%) contrast(180%);
  border-radius: 10em;
  padding: 1em;
  margin: 1.4em 0;
  box-shadow: rgb(28, 32, 93 / 24%) 0px 2px 8px 0px;
  transition: all 0.2s ease-in-out;
}

ul > li:hover {
  transform: scale(1.1);
}

ul > li > a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  text-decoration: none;
  color: black;
}

#vanta {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
