<footer class="footer">
	<div class="wrap grid">

		<a href="{{ site.baseurl }}/" class="footer__title">
			AJ
		</a>

		<div class="footer__copyright">
			<p>i'm ternera on the internet<br>@ternera<br><i></i>For all things work out for good for those who love Him.</i></p>
			<span class="footnote">© {{ 'now' | date: "%Y" }} AJ</span>
			<a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&pp=ygUXbmV2ZXIgZ29ubmEgZ2l2ZSB5b3UgdXA%3D" class="footnote" target="_blank">ship things</a>
		</div>

	</div>
