<section class="about">
  {% if include.divider == true %}
    <div class="wrap"><hr/></div>
    {% endif %}
  <div class="wrap grid">

    <div class="about__image">
      <img src="{{ '/images/profile.jpg' | relative_url }}" alt="">

      {% include component-socials.html %}
    </div>

    <div class="about__content">
      <h2 class="title">Hey, I’m AJ, nice to meet you!</h2>
      <p class="subtitle subtitle--light">I'm just a dude who is interested in IT, community management, and cybersecurity.</p>

      <p>I moderate communities on Reddit and Discord.</p>
      <p>I love beautiful things, such as the outdoors and artwork.</p>
      <p>I enjoy learning new things and improving my skills. I'm trying to get better at Linux, programming, troubleshooting, and problem solving.</p>
      <p>I'm happy to chat with you, feel free to reach out to me!</p>

      <a href="#" class="cta button--fill contact-trigger js-contact">Get in Touch</a>
    </div>
  </div>
</section>